.page-container {
  width: 100%;
  height: 100%;
  max-width: 900px;
  background: linear-gradient(180deg, #0b1c9d 0%, #02004d 17.89%, #02004d 100%);
}

.title-container {
  color: #fff;
  font-size: 1.5rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
