@font-face {
  font-family: "ym-diecut"; /* Project id 4663082 */
  src: url('iconfont.woff2?t=1731477340539') format('woff2'),
       url('iconfont.woff?t=1731477340539') format('woff'),
       url('iconfont.ttf?t=1731477340539') format('truetype'),
       url('iconfont.svg?t=1731477340534#iconfont') format('svg');
}

.ym-diecut {
  font-family: "ym-diecut" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ym-diecut-AOIceliangshuju:before {
  content: "\e845";
}

.ym-diecut-bibie:before {
  content: "\e846";
}

.ym-diecut-chengpinneibubianma:before {
  content: "\e847";
}

.ym-diecut-gangweixinxi:before {
  content: "\e848";
}

.ym-diecut-gongchangrili:before {
  content: "\e849";
}

.ym-diecut-yewumokuaiyuguize:before {
  content: "\e84a";
}

.ym-diecut-jiliangdanwei:before {
  content: "\e84b";
}

.ym-diecut-AOIjiadongshuai:before {
  content: "\e84c";
}

.ym-diecut-shengchanchejian:before {
  content: "\e84d";
}

.ym-diecut-jinengdengji:before {
  content: "\e84e";
}

.ym-diecut-SAPgongchang:before {
  content: "\e84f";
}

.ym-diecut-bumen:before {
  content: "\e850";
}

.ym-diecut-bushuji:before {
  content: "\e851";
}

.ym-diecut-yunceliang:before {
  content: "\e7ff";
}

.ym-diecut-danjuguizepeizhi:before {
  content: "\e834";
}

.ym-diecut-changqu:before {
  content: "\e841";
}

.ym-diecut-kouan:before {
  content: "\e842";
}

.ym-diecut-cangwei:before {
  content: "\e843";
}

.ym-diecut-dianjianxiangshezhi:before {
  content: "\e844";
}

.ym-diecut-zubie:before {
  content: "\e840";
}

.ym-diecut-yewushezhi:before {
  content: "\e83f";
}

.ym-diecut-buliangdaima:before {
  content: "\e82d";
}

.ym-diecut-PCsaoliao:before {
  content: "\e82e";
}

.ym-diecut-baoshu:before {
  content: "\e82f";
}

.ym-diecut-fenqiedayin:before {
  content: "\e830";
}

.ym-diecut-dianjian:before {
  content: "\e831";
}

.ym-diecut-baobiao:before {
  content: "\e832";
}

.ym-diecut-gongxudayin:before {
  content: "\e833";
}

.ym-diecut-gongdanxinxi:before {
  content: "\e835";
}

.ym-diecut-liuzhuan:before {
  content: "\e836";
}

.ym-diecut-gongwei:before {
  content: "\e837";
}

.ym-diecut-shebeitaizhang:before {
  content: "\e838";
}

.ym-diecut-biaoqian:before {
  content: "\e839";
}

.ym-diecut-tongxunshezhi:before {
  content: "\e83a";
}

.ym-diecut-kaigong:before {
  content: "\e83b";
}

.ym-diecut-jianchaxiangmu:before {
  content: "\e83c";
}

.ym-diecut-minglingcanshu:before {
  content: "\e83d";
}

.ym-diecut-shougongshuatiaoli:before {
  content: "\e83e";
}

.ym-diecut-baocun:before {
  content: "\e602";
}

.ym-diecut-quxiao:before {
  content: "\e603";
}

.ym-diecut-xianti:before {
  content: "\e82c";
}

.ym-diecut-gongcheng-gongxu1:before {
  content: "\e82b";
}

.ym-diecut-tuzhipingshen1:before {
  content: "\e82a";
}

.ym-diecut-cailiaojiaoqi:before {
  content: "\e815";
}

.ym-diecut-DFM-shenhe:before {
  content: "\e816";
}

.ym-diecut-cailiaoku:before {
  content: "\e817";
}

.ym-diecut-beianziliao:before {
  content: "\e818";
}

.ym-diecut-gongcheng-gongyiluxianbangding:before {
  content: "\e819";
}

.ym-diecut-banciguanli:before {
  content: "\e81a";
}

.ym-diecut-gongfeishuai:before {
  content: "\e81b";
}

.ym-diecut-AQL:before {
  content: "\e81c";
}

.ym-diecut-cailiaoku-1:before {
  content: "\e81d";
}

.ym-diecut-gongcheng-gongxu:before {
  content: "\e81e";
}

.ym-diecut-kefu-beianxuqiu:before {
  content: "\e81f";
}

.ym-diecut-gongcha:before {
  content: "\e820";
}

.ym-diecut-gongcheng-gongxu-1:before {
  content: "\e821";
}

.ym-diecut-moqiejihua:before {
  content: "\e822";
}

.ym-diecut-gongzishuai:before {
  content: "\e823";
}

.ym-diecut-gongyingshang2:before {
  content: "\e824";
}

.ym-diecut-yangpinshenqing:before {
  content: "\e825";
}

.ym-diecut-liangshijihua:before {
  content: "\e826";
}

.ym-diecut-tuzhipingshenchaxun:before {
  content: "\e827";
}

.ym-diecut-huishuai:before {
  content: "\e828";
}

.ym-diecut-kefu-zhijiekehu:before {
  content: "\e829";
}

.ym-diecut-arrow-left2:before {
  content: "\e811";
}

.ym-diecut-Union-2:before {
  content: "\e812";
}

.ym-diecut-Shape:before {
  content: "\e813";
}

.ym-diecut-fork1:before {
  content: "\e814";
}

.ym-diecut-Union-7:before {
  content: "\e804";
}

.ym-diecut-Union-14:before {
  content: "\e805";
}

.ym-diecut-browse-off2:before {
  content: "\e806";
}

.ym-diecut-Union-1:before {
  content: "\e807";
}

.ym-diecut-Union-5:before {
  content: "\e808";
}

.ym-diecut-Union-12:before {
  content: "\e809";
}

.ym-diecut-Union-3:before {
  content: "\e80a";
}

.ym-diecut-swap1:before {
  content: "\e80b";
}

.ym-diecut-Union-10:before {
  content: "\e80c";
}

.ym-diecut-Union-4:before {
  content: "\e80d";
}

.ym-diecut-fullsreen1:before {
  content: "\e80e";
}

.ym-diecut-Union-13:before {
  content: "\e80f";
}

.ym-diecut-fullscreen-exit1:before {
  content: "\e810";
}

.ym-diecut-a-shangchuan1:before {
  content: "\e7f7";
}

.ym-diecut-Union-6:before {
  content: "\e7f8";
}

.ym-diecut-a-tupian11:before {
  content: "\e7f9";
}

.ym-diecut-a-xianlutubiao1:before {
  content: "\e7fa";
}

.ym-diecut-upload1:before {
  content: "\e7fb";
}

.ym-diecut-a-baocun1:before {
  content: "\e7fc";
}

.ym-diecut-a-lianjie1:before {
  content: "\e7fd";
}

.ym-diecut-download1:before {
  content: "\e7fe";
}

.ym-diecut-a-chakanxiangqing1:before {
  content: "\e800";
}

.ym-diecut-Union-11:before {
  content: "\e801";
}

.ym-diecut-tips1:before {
  content: "\e802";
}

.ym-diecut-a-fabu1:before {
  content: "\e803";
}

.ym-diecut-Union-8:before {
  content: "\e7f4";
}

.ym-diecut-print1:before {
  content: "\e7f5";
}

.ym-diecut-a-tuzhifujian1:before {
  content: "\e7f6";
}

.ym-diecut-zhongduankehu:before {
  content: "\e7f3";
}

.ym-diecut-baojiaxuqiu:before {
  content: "\e7ea";
}

.ym-diecut-chanpinxian:before {
  content: "\e7eb";
}

.ym-diecut-liangshijiaoqiqueren:before {
  content: "\e7ec";
}

.ym-diecut-xiangmuxinxi:before {
  content: "\e7ed";
}

.ym-diecut-xiangmuchengyuan:before {
  content: "\e7ee";
}

.ym-diecut-liangshipingshen:before {
  content: "\e7ef";
}

.ym-diecut-liangshidingdan:before {
  content: "\e7f0";
}

.ym-diecut-chengpinbianma:before {
  content: "\e7f1";
}

.ym-diecut-jiagequeren:before {
  content: "\e7f2";
}

.ym-diecut-gongyingshang1:before {
  content: "\e7e9";
}

.ym-diecut-hangzheng1:before {
  content: "\e7e2";
}

.ym-diecut-kefu:before {
  content: "\e7e3";
}

.ym-diecut-shangwu1:before {
  content: "\e7e4";
}

.ym-diecut-caiwu1:before {
  content: "\e7e5";
}

.ym-diecut-xiaoshou:before {
  content: "\e7e6";
}

.ym-diecut-shengchanjihua1:before {
  content: "\e7e7";
}

.ym-diecut-caigou1:before {
  content: "\e7e8";
}

.ym-diecut-bangzhuxin:before {
  content: "\e7e1";
}

.ym-diecut-wuliao:before {
  content: "\e744";
}

.ym-diecut-shebei1:before {
  content: "\e74f";
}

.ym-diecut-tuzhipingshen:before {
  content: "\e7e0";
}

.ym-diecut-exceltubiao:before {
  content: "\e7de";
}

.ym-diecut-shouye2:before {
  content: "\e7df";
}

.ym-diecut-kaiguan:before {
  content: "\e6d4";
}

.ym-diecut-attach1:before {
  content: "\e7da";
}

.ym-diecut-arrow-down-rectangle1:before {
  content: "\e7db";
}

.ym-diecut-add-circle1:before {
  content: "\e7dc";
}

.ym-diecut-add-rectangle1:before {
  content: "\e7dd";
}

.ym-diecut-browse-off1:before {
  content: "\e7cd";
}

.ym-diecut-browse1:before {
  content: "\e7ce";
}

.ym-diecut-backward1:before {
  content: "\e7cf";
}

.ym-diecut-books1:before {
  content: "\e7d0";
}

.ym-diecut-add1:before {
  content: "\e7d1";
}

.ym-diecut-barcode1:before {
  content: "\e7d2";
}

.ym-diecut-backtop1:before {
  content: "\e7d3";
}

.ym-diecut-arrow-up1:before {
  content: "\e7d4";
}

.ym-diecut-backtop-rectangle1:before {
  content: "\e7d5";
}

.ym-diecut-app1:before {
  content: "\e7d6";
}

.ym-diecut-arrow-right1:before {
  content: "\e7d7";
}

.ym-diecut-arrow-down1:before {
  content: "\e7d8";
}

.ym-diecut-arrow-left1:before {
  content: "\e7d9";
}

.ym-diecut-file-excel:before {
  content: "\e745";
}

.ym-diecut-file-unknown:before {
  content: "\e746";
}

.ym-diecut-file-word:before {
  content: "\e747";
}

.ym-diecut-file-pdf:before {
  content: "\e748";
}

.ym-diecut-filter-clear:before {
  content: "\e749";
}

.ym-diecut-folder-open:before {
  content: "\e74a";
}

.ym-diecut-folder:before {
  content: "\e74b";
}

.ym-diecut-filter:before {
  content: "\e74c";
}

.ym-diecut-format-horizontal-align-bottom:before {
  content: "\e74d";
}

.ym-diecut-fork:before {
  content: "\e74e";
}

.ym-diecut-folder-add:before {
  content: "\e750";
}

.ym-diecut-format-vertical-align-center:before {
  content: "\e751";
}

.ym-diecut-format-horizontal-align-center:before {
  content: "\e752";
}

.ym-diecut-format-vertical-align-right:before {
  content: "\e753";
}

.ym-diecut-forward:before {
  content: "\e754";
}

.ym-diecut-format-vertical-align-left:before {
  content: "\e755";
}

.ym-diecut-fullsreen:before {
  content: "\e756";
}

.ym-diecut-fullscreen-exit:before {
  content: "\e757";
}

.ym-diecut-gender-female:before {
  content: "\e758";
}

.ym-diecut-gender-male:before {
  content: "\e759";
}

.ym-diecut-gift:before {
  content: "\e75a";
}

.ym-diecut-help:before {
  content: "\e75b";
}

.ym-diecut-heart:before {
  content: "\e75c";
}

.ym-diecut-heart-filled:before {
  content: "\e75d";
}

.ym-diecut-hourglass:before {
  content: "\e75e";
}

.ym-diecut-history:before {
  content: "\e75f";
}

.ym-diecut-home:before {
  content: "\e760";
}

.ym-diecut-help-circle:before {
  content: "\e761";
}

.ym-diecut-help-circle-filled:before {
  content: "\e762";
}

.ym-diecut-info-circle-filled:before {
  content: "\e763";
}

.ym-diecut-image-error:before {
  content: "\e764";
}

.ym-diecut-internet:before {
  content: "\e765";
}

.ym-diecut-jump:before {
  content: "\e766";
}

.ym-diecut-info-circle:before {
  content: "\e767";
}

.ym-diecut-laptop:before {
  content: "\e768";
}

.ym-diecut-layers:before {
  content: "\e769";
}

.ym-diecut-link-unlink:before {
  content: "\e76a";
}

.ym-diecut-link:before {
  content: "\e76b";
}

.ym-diecut-location:before {
  content: "\e76c";
}

.ym-diecut-lock-off:before {
  content: "\e76d";
}

.ym-diecut-lock-on:before {
  content: "\e76e";
}

.ym-diecut-login:before {
  content: "\e76f";
}

.ym-diecut-logo-codepen:before {
  content: "\e770";
}

.ym-diecut-logout:before {
  content: "\e771";
}

.ym-diecut-logo-windows:before {
  content: "\e772";
}

.ym-diecut-logo-windows-filled:before {
  content: "\e773";
}

.ym-diecut-menu-application:before {
  content: "\e774";
}

.ym-diecut-menu-fold:before {
  content: "\e775";
}

.ym-diecut-minus-circle:before {
  content: "\e776";
}

.ym-diecut-menu-unfold:before {
  content: "\e777";
}

.ym-diecut-minus-rectangle:before {
  content: "\e778";
}

.ym-diecut-mail:before {
  content: "\e779";
}

.ym-diecut-mirror:before {
  content: "\e77a";
}

.ym-diecut-more:before {
  content: "\e77b";
}

.ym-diecut-mobile:before {
  content: "\e77c";
}

.ym-diecut-minus-circle-filled:before {
  content: "\e77d";
}

.ym-diecut-move:before {
  content: "\e77e";
}

.ym-diecut-money-circle:before {
  content: "\e77f";
}

.ym-diecut-next:before {
  content: "\e780";
}

.ym-diecut-notification-filled:before {
  content: "\e781";
}

.ym-diecut-a-order-adjustmentcolumn:before {
  content: "\e782";
}

.ym-diecut-order-ascending:before {
  content: "\e783";
}

.ym-diecut-order-descending:before {
  content: "\e784";
}

.ym-diecut-mobile-vibrate:before {
  content: "\e785";
}

.ym-diecut-notification:before {
  content: "\e786";
}

.ym-diecut-pause:before {
  content: "\e787";
}

.ym-diecut-page-first:before {
  content: "\e788";
}

.ym-diecut-page-last:before {
  content: "\e789";
}

.ym-diecut-pause-circle:before {
  content: "\e78a";
}

.ym-diecut-pause-circle-filled:before {
  content: "\e78b";
}

.ym-diecut-photo:before {
  content: "\e78c";
}

.ym-diecut-pin:before {
  content: "\e78d";
}

.ym-diecut-play:before {
  content: "\e78e";
}

.ym-diecut-play-circle-filled:before {
  content: "\e78f";
}

.ym-diecut-play-circle:before {
  content: "\e790";
}

.ym-diecut-play-circle-stroke:before {
  content: "\e791";
}

.ym-diecut-pin-filled:before {
  content: "\e792";
}

.ym-diecut-previous:before {
  content: "\e793";
}

.ym-diecut-a-precisemonitor:before {
  content: "\e794";
}

.ym-diecut-poweroff:before {
  content: "\e795";
}

.ym-diecut-print:before {
  content: "\e796";
}

.ym-diecut-qrcode:before {
  content: "\e797";
}

.ym-diecut-queue:before {
  content: "\e798";
}

.ym-diecut-rollback:before {
  content: "\e799";
}

.ym-diecut-refresh:before {
  content: "\e79a";
}

.ym-diecut-remove:before {
  content: "\e79b";
}

.ym-diecut-rollfront:before {
  content: "\e79c";
}

.ym-diecut-round:before {
  content: "\e79d";
}

.ym-diecut-root-list:before {
  content: "\e79e";
}

.ym-diecut-rotation:before {
  content: "\e79f";
}

.ym-diecut-save:before {
  content: "\e7a0";
}

.ym-diecut-search:before {
  content: "\e7a1";
}

.ym-diecut-secured:before {
  content: "\e7a2";
}

.ym-diecut-scan:before {
  content: "\e7a3";
}

.ym-diecut-server:before {
  content: "\e7a4";
}

.ym-diecut-service:before {
  content: "\e7a5";
}

.ym-diecut-shop:before {
  content: "\e7a6";
}

.ym-diecut-share:before {
  content: "\e7a7";
}

.ym-diecut-setting:before {
  content: "\e7a8";
}

.ym-diecut-slash:before {
  content: "\e7a9";
}

.ym-diecut-star-filled:before {
  content: "\e7aa";
}

.ym-diecut-swap:before {
  content: "\e7ab";
}

.ym-diecut-swap-left:before {
  content: "\e7ac";
}

.ym-diecut-sound:before {
  content: "\e7ad";
}

.ym-diecut-stop-circle:before {
  content: "\e7ae";
}

.ym-diecut-stop-circle-filled:before {
  content: "\e7af";
}

.ym-diecut-swap-right:before {
  content: "\e7b0";
}

.ym-diecut-star:before {
  content: "\e7b1";
}

.ym-diecut-thumb-up:before {
  content: "\e7b2";
}

.ym-diecut-thumb-down:before {
  content: "\e7b3";
}

.ym-diecut-time:before {
  content: "\e7b4";
}

.ym-diecut-time-filled:before {
  content: "\e7b5";
}

.ym-diecut-unfold-less:before {
  content: "\e7b6";
}

.ym-diecut-tips:before {
  content: "\e7b7";
}

.ym-diecut-tools:before {
  content: "\e7b8";
}

.ym-diecut-usb:before {
  content: "\e7b9";
}

.ym-diecut-unfold-more:before {
  content: "\e7ba";
}

.ym-diecut-user:before {
  content: "\e7bb";
}

.ym-diecut-user-circle:before {
  content: "\e7bc";
}

.ym-diecut-user-clear:before {
  content: "\e7bd";
}

.ym-diecut-upload:before {
  content: "\e7be";
}

.ym-diecut-user-avatar:before {
  content: "\e7bf";
}

.ym-diecut-user-add:before {
  content: "\e7c0";
}

.ym-diecut-usergroup:before {
  content: "\e7c1";
}

.ym-diecut-usergroup-clear:before {
  content: "\e7c2";
}

.ym-diecut-user-talk:before {
  content: "\e7c3";
}

.ym-diecut-view-list:before {
  content: "\e7c4";
}

.ym-diecut-view-module:before {
  content: "\e7c5";
}

.ym-diecut-video:before {
  content: "\e7c6";
}

.ym-diecut-usergroup-add:before {
  content: "\e7c7";
}

.ym-diecut-wallet:before {
  content: "\e7c8";
}

.ym-diecut-zoom-in:before {
  content: "\e7c9";
}

.ym-diecut-zoom-out:before {
  content: "\e7ca";
}

.ym-diecut-wifi:before {
  content: "\e7cb";
}

.ym-diecut-view-column:before {
  content: "\e7cc";
}

.ym-diecut-add:before {
  content: "\e6f3";
}

.ym-diecut-add-circle:before {
  content: "\e6f4";
}

.ym-diecut-add-rectangle:before {
  content: "\e6f5";
}

.ym-diecut-arrow-down:before {
  content: "\e6f6";
}

.ym-diecut-app:before {
  content: "\e6f7";
}

.ym-diecut-arrow-left:before {
  content: "\e6f8";
}

.ym-diecut-arrow-down-rectangle:before {
  content: "\e6f9";
}

.ym-diecut-arrow-right:before {
  content: "\e6fa";
}

.ym-diecut-arrow-up:before {
  content: "\e6fb";
}

.ym-diecut-backtop:before {
  content: "\e6fc";
}

.ym-diecut-attach:before {
  content: "\e6fd";
}

.ym-diecut-backward:before {
  content: "\e6fe";
}

.ym-diecut-books:before {
  content: "\e6ff";
}

.ym-diecut-barcode:before {
  content: "\e700";
}

.ym-diecut-backtop-rectangle:before {
  content: "\e701";
}

.ym-diecut-browse:before {
  content: "\e702";
}

.ym-diecut-bulletpoint:before {
  content: "\e703";
}

.ym-diecut-caret-down-small:before {
  content: "\e704";
}

.ym-diecut-calendar:before {
  content: "\e705";
}

.ym-diecut-caret-left:before {
  content: "\e706";
}

.ym-diecut-caret-down:before {
  content: "\e707";
}

.ym-diecut-call:before {
  content: "\e708";
}

.ym-diecut-caret-right-small:before {
  content: "\e709";
}

.ym-diecut-browse-off:before {
  content: "\e70a";
}

.ym-diecut-caret-right:before {
  content: "\e70b";
}

.ym-diecut-caret-up:before {
  content: "\e70c";
}

.ym-diecut-caret-up-small:before {
  content: "\e70d";
}

.ym-diecut-chart-bar:before {
  content: "\e70e";
}

.ym-diecut-caret-left-small:before {
  content: "\e70f";
}

.ym-diecut-cart:before {
  content: "\e710";
}

.ym-diecut-check:before {
  content: "\e711";
}

.ym-diecut-chart:before {
  content: "\e712";
}

.ym-diecut-chat:before {
  content: "\e713";
}

.ym-diecut-chart-pie:before {
  content: "\e714";
}

.ym-diecut-check-circle-filled:before {
  content: "\e715";
}

.ym-diecut-check-circle:before {
  content: "\e716";
}

.ym-diecut-check-rectangle-filled:before {
  content: "\e717";
}

.ym-diecut-chevron-down:before {
  content: "\e718";
}

.ym-diecut-check-rectangle:before {
  content: "\e719";
}

.ym-diecut-chevron-left:before {
  content: "\e71a";
}

.ym-diecut-a-chevron-leftdouble:before {
  content: "\e71b";
}

.ym-diecut-chevron-down-rectangle:before {
  content: "\e71c";
}

.ym-diecut-chevron-down-circle:before {
  content: "\e71d";
}

.ym-diecut-chevron-left-circle:before {
  content: "\e71e";
}

.ym-diecut-chevron-left-rectangle:before {
  content: "\e71f";
}

.ym-diecut-a-chevron-rightdouble:before {
  content: "\e720";
}

.ym-diecut-chevron-right:before {
  content: "\e721";
}

.ym-diecut-chevron-right-circle:before {
  content: "\e722";
}

.ym-diecut-chevron-up:before {
  content: "\e723";
}

.ym-diecut-chevron-up-circle:before {
  content: "\e724";
}

.ym-diecut-close:before {
  content: "\e725";
}

.ym-diecut-chevron-right-rectangle:before {
  content: "\e726";
}

.ym-diecut-chevron-up-rectangle:before {
  content: "\e727";
}

.ym-diecut-clear:before {
  content: "\e728";
}

.ym-diecut-close-circle-filled:before {
  content: "\e729";
}

.ym-diecut-close-circle:before {
  content: "\e72a";
}

.ym-diecut-cloud:before {
  content: "\e72b";
}

.ym-diecut-close-rectangle:before {
  content: "\e72c";
}

.ym-diecut-code:before {
  content: "\e72d";
}

.ym-diecut-a-controlplatform:before {
  content: "\e72e";
}

.ym-diecut-creditcard:before {
  content: "\e72f";
}

.ym-diecut-delete:before {
  content: "\e730";
}

.ym-diecut-desktop:before {
  content: "\e731";
}

.ym-diecut-cloud-upload:before {
  content: "\e732";
}

.ym-diecut-dashboard:before {
  content: "\e733";
}

.ym-diecut-edit:before {
  content: "\e734";
}

.ym-diecut-download:before {
  content: "\e735";
}

.ym-diecut-enter:before {
  content: "\e736";
}

.ym-diecut-cloud-download:before {
  content: "\e737";
}

.ym-diecut-edit-1:before {
  content: "\e738";
}

.ym-diecut-error:before {
  content: "\e739";
}

.ym-diecut-error-circle:before {
  content: "\e73a";
}

.ym-diecut-error-circle-filled:before {
  content: "\e73b";
}

.ym-diecut-file:before {
  content: "\e73c";
}

.ym-diecut-discount-filled:before {
  content: "\e73d";
}

.ym-diecut-file-copy:before {
  content: "\e73e";
}

.ym-diecut-file-add:before {
  content: "\e73f";
}

.ym-diecut-file-paste:before {
  content: "\e740";
}

.ym-diecut-file-image:before {
  content: "\e741";
}

.ym-diecut-ellipsis:before {
  content: "\e742";
}

.ym-diecut-file-powerpoint:before {
  content: "\e743";
}

.ym-diecut-cuowu:before {
  content: "\e6c7";
}

.ym-diecut-bangzhu1:before {
  content: "\e6c8";
}

.ym-diecut-pdf:before {
  content: "\e6c9";
}

.ym-diecut-jiantouzhankai:before {
  content: "\e6ca";
}

.ym-diecut-lajitong:before {
  content: "\e6cb";
}

.ym-diecut-fanhui1:before {
  content: "\e6cc";
}

.ym-diecut-gouxuan:before {
  content: "\e6cd";
}

.ym-diecut-bianji1:before {
  content: "\e6ce";
}

.ym-diecut-fujian:before {
  content: "\e6cf";
}

.ym-diecut-liebiaoshouqi:before {
  content: "\e6d0";
}

.ym-diecut-daoru1:before {
  content: "\e6d1";
}

.ym-diecut-liebiaozhankai:before {
  content: "\e6d2";
}

.ym-diecut-liebiaotuodongpaixu:before {
  content: "\e6d3";
}

.ym-diecut-lianjie:before {
  content: "\e6d5";
}

.ym-diecut-liebiaozhankai2:before {
  content: "\e6d6";
}

.ym-diecut-a-nianfenfanyeshang:before {
  content: "\e6d7";
}

.ym-diecut-mima:before {
  content: "\e6d8";
}

.ym-diecut-a-nianfenfanyexia:before {
  content: "\e6d9";
}

.ym-diecut-qingkong:before {
  content: "\e6da";
}

.ym-diecut-shanchu1:before {
  content: "\e6db";
}

.ym-diecut-shouqixinxi:before {
  content: "\e6dc";
}

.ym-diecut-shaixuan:before {
  content: "\e6dd";
}

.ym-diecut-qita:before {
  content: "\e6de";
}

.ym-diecut-mimaxianshi:before {
  content: "\e6df";
}

.ym-diecut-shijian:before {
  content: "\e6e0";
}

.ym-diecut-qingchu:before {
  content: "\e6e1";
}

.ym-diecut-shuaxin1:before {
  content: "\e6e2";
}

.ym-diecut-saoyisao:before {
  content: "\e6e3";
}

.ym-diecut-tianjia2:before {
  content: "\e6e4";
}

.ym-diecut-xialashouqi:before {
  content: "\e6e5";
}

.ym-diecut-sousuo2:before {
  content: "\e6e6";
}

.ym-diecut-xialazhankai:before {
  content: "\e6e7";
}

.ym-diecut-xiazai:before {
  content: "\e6e8";
}

.ym-diecut-tianjia1:before {
  content: "\e6e9";
}

.ym-diecut-a-yuefenfanyexia:before {
  content: "\e6ea";
}

.ym-diecut-a-yuefenfanyeshang:before {
  content: "\e6eb";
}

.ym-diecut-yonghu:before {
  content: "\e6ec";
}

.ym-diecut-zhankaixinxi:before {
  content: "\e6ed";
}

.ym-diecut-wenjian:before {
  content: "\e6ee";
}

.ym-diecut-chenggong:before {
  content: "\e6ef";
}

.ym-diecut-zhongzhi:before {
  content: "\e6f0";
}

.ym-diecut-rili:before {
  content: "\e6f1";
}

.ym-diecut-paixu:before {
  content: "\e6f2";
}

.ym-diecut-fanye-xiayiye:before {
  content: "\e6a6";
}

.ym-diecut-fanhui:before {
  content: "\e6a8";
}

.ym-diecut-fanye-shangyiye:before {
  content: "\e6ac";
}

.ym-diecut-shengchanzhihang:before {
  content: "\e6a3";
}

.ym-diecut-shebei:before {
  content: "\e69b";
}

.ym-diecut-gongyingshang:before {
  content: "\e691";
}

.ym-diecut-gongcheng:before {
  content: "\e69c";
}

.ym-diecut-hangzheng:before {
  content: "\e69d";
}

.ym-diecut-qiyegailan:before {
  content: "\e69e";
}

.ym-diecut-caigou:before {
  content: "\e69f";
}

.ym-diecut-bangzhu:before {
  content: "\e6a0";
}

.ym-diecut-cangchu:before {
  content: "\e6a1";
}

.ym-diecut-caiwu:before {
  content: "\e6a2";
}

.ym-diecut-shengchanjihua:before {
  content: "\e692";
}

.ym-diecut-xitongshezhi:before {
  content: "\e694";
}

.ym-diecut-zhiliang:before {
  content: "\e695";
}

.ym-diecut-xiaoxi:before {
  content: "\e696";
}

.ym-diecut-shuju:before {
  content: "\e697";
}

.ym-diecut-a-wuliuguanwu:before {
  content: "\e698";
}

.ym-diecut-jichushuju:before {
  content: "\e699";
}

.ym-diecut-shangwu:before {
  content: "\e69a";
}

