:deep(.vxe-table--render-default .vxe-body--row-expanded-cell.is--padding) {
  padding: 12px !important;
}

:deep(div.ant-card-body) {
  padding: 0;
}

.lydc-content-wrapper .lydc-content-wrapper-center div.lydc-content-wrapper-search-box {
  padding: 10px;
}

:deep(.lydc-subtitle-container) {
  padding-bottom: 6px;
}

:deep(div.ant-col.ant-col-8) {
  padding-right: 0 !important;
}

:deep(div.ant-row) {
  margin-right: 0 !important;
}
