.title-box {
  width: 100%;
  background: linear-gradient(180deg, #ffede5 0%, #fff8f5 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
  height: 40px;
  border-bottom: 1px solid #f9e8e1;

  .left-box {
    display: flex;
  }

  .right-box {
    color: #666;
  }
}

.border-l {
  border: 1px solid #f0f0f0;
  margin-right: 7.5px;
  box-sizing: border-box;
  border-top: none;
  height: calc(50% - 11.5px);
}

.border-r {
  border: 1px solid #f0f0f0;
  margin-left: 7.5px;
  box-sizing: border-box;
  height: calc(50% - 11.5px);
}
