:deep(.ant-tabs-content) {
  height: 100%;
}

:deep(.ant-tabs-nav) {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}

:deep(.lydc-content-wrapper-content) {
  .ant-tabs.ant-tabs-top,
  .ant-tabs-content.ant-tabs-content-top {
    height: 100%;
  }

  .vxe-form--wrapper .vxe-form--item:first-child .vxe-form--item-content {
    padding-left: 0;
  }
}
